.prof {
  font-family: Arial;
  padding: 10px;
  /* background-color: gray; */
  font-size: 15px;
  margin-left: 400px;
  width: 500px;
}
.home {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.tulis {
  text-align: right;
}
.hook {
  font-family: Arial;
  padding: 10px;
  background-color: aliceblue;
  font-size: 15px;
}
.update {
  font-family: Arial;
  padding: 10px;
  background-color: aliceblue;
  font-size: 15px;
  width: 500px;
}
