.prof {
  font-family: Arial;
  text-align: center;
  padding: 30px;
  background-color: bisque;
  font-size: 15px;
  width: 300px;
  margin-top: 25px;
  margin-left: 545px;
}
.jam {
  text-align: center;
}
.hookk {
  margin-bottom: 20px;
}
